@using System.Security.Claims
@*@model IEnumerable<Shared.DTO.GetAuctionDTO>*@
@model Shared.DTO.GetAuctionListWithUserDTO;

<a href="@Url.Action("Create", "Auction")" class="btn btn-primary">Create Auction</a>

<label>Your current balance: @Model.UserDetails.WalletBalance</label>


<table class="table table-sm table-dark">
    <thead>
    <tr>
        <th>
            Title
        </th>
        <th>
            Seller
        </th>
        <th>
            Top Bid
        </th>
        <th>
            Time Remaining
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach(var auction in Model.AuctionDetails)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "Auction", new { auctionId =@auction.Id })"> @auction.Title</a>
                </td>
                <td>  @auction.Username</td>
                <td>  @auction.MaxBid</td>
                <td>  @auction.RemainingTime</td>
            </tr>
        }
    </tbody>

</table>
